html {
    height: 100%
}

body {
    padding: 15px;
    margin: 0;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.18, rgb(74,12,107)), color-stop(0.87, rgb(102,153,102)) );
    background: -moz-linear-gradient(top, #ABCDEF 0%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ABCDEF), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ABCDEF 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ABCDEF 0%,#FFFFFF 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ABCDEF 0%,#FFFFFF 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ABCDEF', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ABCDEF 0%,#FFFFFF 100%); /* W3C */
    background-attachment: fixed
}

.container-rounded {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(1, 1, 1, 0.7);
    background-color: #FFFFFF;
    padding: 15px;
}

.container {
    display: table;
    min-width: 260px;
    box-sizing: border-box;
}

    .container .row .no-float {
        display: table-cell;
        float: none;
    }

.header {
    margin-top: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid grey;
}

.footer {
    margin-top: 15px;
    margin-bottom: 5px;
    border-top: 1px solid grey;
    padding-top: 10px;
}

.nav {
    padding-left: 5px
}

.mainFrame {
    padding-left: 20px;
    margin-bottom: 0;
}

.sidebar {
    height: 100%
}

    .sidebar .aboutme {
        padding-bottom: 10px
    }

        .sidebar .aboutme .avatar {
            height: 150px;
            border-radius: 50%;
            padding-bottom: 10px;
        }

    .sidebar .recentPosts {
        border-top: 1px solid grey;
    }

        .sidebar .recentPosts .media-underline {
            border-bottom: 1px solid grey;
        }

    .sidebar .myTweets {
        border-top: 1px solid grey;
        padding-top: 5px;
    }

.post-devide-bottom {
    border-bottom: 1px solid grey;
}

.fa {
    padding-top: 86px;
    font-size: 17px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

    /* Add a hover effect if you want */
    .fa:hover {
        opacity: 0.7;
    }

    .fa.fa-twitter {
        background: #55ACEE;
        color: #FFFFFF;
    }

    .fa.fa-linkedin {
        background: #007BB5;
        color: #FFFFFF;
    }

    .fa.fa-github {
        background: #000000;
        color: #FFFFFF;
    }

    .fa.fa-google-plus {
        background: #DB4437;
        color: #FFFFFF;
    }

    .fa.fa-spotify {
        background: #000000;
        color: #1ED760;
    }

    .fa.fa-rss {
        background: #FF6600;
        color: #FFFFFF;
    }

@media (min-width:991px) {
    .mainFrame {
        border-right: 1px solid grey;
    }
}
