<div class="col-lg-12">
    <h1>
        Chris Blyth<small> - aka BlythMeister</small>
    </h1>
</div>
<div class="icons header-icons hidden-sm hidden-md hidden-lg">
    <a target="_blank" href="mailto:chris@blyth.me.uk" class="far fa-envelope"></a>
    <a target="_blank" href="https://www.twitter.com/BlythMeister" class="fab fa-twitter"></a>
    <a target="_blank" href="https://www.linkedin.com/in/chris-blyth/" class="fab fa-linkedin"></a>        
    <a target="_blank" href="https://www.facebook.com/blythmeister/" class="fab fa-facebook-f"></a>
    <a target="_blank" href="https://github.com/BlythMeister" class="fab fa-github"></a>
    <a target="_blank" href="https://www.amazon.co.uk/gp/profile/amzn1.account.AFHXXI3AAWF42IIBKLD3VYLFOT7A" class="fab fa-amazon"></a>
    <a target="_blank" href="https://www.goodreads.com/user/show/4921874-chris-blyth" class="fab fa-goodreads-g"></a>
    <a target="_blank" href="https://open.spotify.com/user/BlythMeister" class="fab fa-spotify"></a>
    <a target="_blank" href="https://www.youtube.com/channel/UC75NXNugjDXbboQcsc7y1tg" class="fab fa-youtube"></a>
</div>
<div class="col-lg-12 nav">
    <ul class="nav nav-pills nav-justified hidden-xs">
        <li role="presentation"><a href="{{ site.url }}/">Home</a></li>
        <li role="presentation"><a href="{{ site.url }}/about/">About Me</a></li>
        <li role="presentation"><a href="{{ site.url }}/blog/">Blog</a></li>
        <li role="presentation"><a href="{{ site.url }}/software/mine">My Software</a></li>
        <li role="presentation"><a href="{{ site.url }}/software/oss">OSS Contributions</a></li>       
        <li role="presentation"><a href="{{ site.url }}/software/web">Web Based Software</a></li>
        <li role="presentation"><a href="{{ site.url }}/subscriptions">Subscriptions</a></li>
        <li role="presentation"><a href="{{ site.url }}/donations">Donations</a></li>
    </ul>
    <ul class="nav nav-pills nav-justified hidden-sm hidden-md hidden-lg">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Navigation <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-justified">
                <li role="presentation"><a href="{{ site.url }}/">Home</a></li>
                <li role="presentation"><a href="{{ site.url }}/about/">About Me</a></li>
                <li role="presentation"><a href="{{ site.url }}/blog/">Blog</a></li>
                <li role="presentation"><a href="{{ site.url }}/software/mine">My Software</a></li>
                <li role="presentation"><a href="{{ site.url }}/software/oss">OSS Contributions</a></li>       
                <li role="presentation"><a href="{{ site.url }}/software/web">Web Based Software</a></li>
				<li role="presentation"><a href="{{ site.url }}/subscriptions">Subscriptions</a></li>
                <li role="presentation"><a href="{{ site.url }}/donations">Donations</a></li>
            </ul>
        </li>
    </ul>
</div>
