<small>
    <span class="date"><i class="fa-regular fa-calendar">&nbsp;</i>{{ post.date | date: "%d %B %Y" }}</span>
    <span> | </span>
    <span class="edit"><i class="fa-solid fa-pen-to-square">&nbsp;</i><a href="https://github.com/BlythMeister/blyth.me.uk/edit/master/{{ post.path }}" target="_blank">Edit Post</a></span>
    {% if post.tags.size > 0 %}
    {% if post.tags.size > 5 %}
    <br />
    {% else %}
    <span> | </span>
    {% endif %}  
    {% if post.tags.size > 1 %}
    <span class="tags"><i class="fa-solid fa-tags">&nbsp;</i>{{ post.tags | join: ', ' }}</span>
    {% else %}
    <span class="tags"><i class="fa-solid fa-tag">&nbsp;</i>{{ post.tags }}</span>    
    {% endif %}
    {% endif %}    
</small>
