<small>
    <span class="date"><i class="fas fa-share-alt">&nbsp;</i>
        <a target="_blank" href="https://twitter.com/share?url={{ site.url }}{{ post.url }}&text={{ post.title }}" class="fab fa-twitter"></a>
        <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ post.url }}&p[title]={{ post.title }}" class="fab fa-facebook-f"></a>
        <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ post.url }}&title={{ post.title }}" class="fab fa-linkedin"></a>
        <a target="_blank" href="mailto:?Subject={{ post.title }}&Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ site.url }}{{ post.url }}" class="far fa-envelope"></a>
        <a target="_blank" href="https://api.whatsapp.com/send?text={{ post.title }}%20-%20{{ site.url }}{{ post.url }}" class="fab fa-whatsapp"></a>
    </span>
</small>