<div class="topItem">
    <div>
        <h4>About Me</h4>
        <img src="{{ site.url }}/images/me.png" class="avatar" />
    </div>
    <div>
        <p>
            .Net coder, lifelong Brighton &amp; Hove Albion fan &amp; self confessed geek
        </p>
    </div>
    <div>
        <a target="_blank" href="https://www.twitter.com/BlythMeister" class="fa fa-twitter"></a>
        <a target="_blank" href="https://www.linkedin.com/in/chris-blyth/" class="fa fa-linkedin"></a>
        <a target="_blank" href="https://github.com/BlythMeister" class="fa fa-github"></a>
        <a target="_blank" href="https://plus.google.com/+ChrisBlyth-BlythMeister" class="fa fa-google-plus"></a>
        <a target="_blank" href="https://open.spotify.com/user/BlythMeister" class="fa fa-spotify"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UC75NXNugjDXbboQcsc7y1tg" class="fa fa-youtube-play"></a>
        <a target="_blank" href="https://keybase.io/blythmeister" class="fa fa-keybase"></a>
    </div>
</div>
<div class="middleItem">
    Do you track your time in Jira?<br/>
    Then Gallifrey could save you hours each week!<br/>
    Check out <a target="_blank" href="https://gallifreyapp.co.uk">GallifreyApp.co.uk</a> to find out more.
</div>
<div class="middleItem">
    Help support my site running costs by using my Amazon advert below.<br />
    <a target="_blank" href="https://www.amazon.co.uk?&_encoding=UTF8&tag=blythmeister-21&linkCode=ur2&linkId=a589bf1bbb986ae38d36c5e20b64498a&camp=1634&creative=6738">Amazon.co.uk</a>
    <img src="//ir-uk.amazon-adsystem.com/e/ir?t=blythmeister-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
<div class="bottomItem">
    <h4>Recent Posts <a href="{{ site.url }}/feed.xml" class="fa fa-rss"></a></h4>
    {% assign publishedPosts = site.posts | where: 'show', 'true' %}
    {% for post in publishedPosts  limit:5 %}
    <div class="media {% if forloop.last == false %}media-underline{% endif %}">
        <div class="media-body">
            <a href="{{ post.url }}">
                <h5 class="media-heading">{{ post.title }}</h5>
            </a>
            <p><i class="fa fa-calendar">&nbsp;</i>{{ post.date | date: "%d %B %Y" }}</p>
            {{ post.excerpt }}
        </div>
    </div>
    {% endfor %}
</div>
