<div class="topItem">
    <div>
        <h4>About Me</h4>
        <img src="{{ site.url }}/images/me.png" class="avatar" />
    </div>
    <div>
        <p>
            .Net coder, lifelong Brighton &amp; Hove Albion fan &amp; self confessed geek
        </p>
    </div>
    <div class="icons">
        <a target="_blank" href="mailto:chris@blyth.me.uk" class="far fa-envelope"></a>
        <a target="_blank" href="https://www.twitter.com/BlythMeister" class="fab fa-twitter"></a>
        <a target="_blank" href="https://www.linkedin.com/in/chris-blyth/" class="fab fa-linkedin"></a>        
        <a target="_blank" href="https://www.facebook.com/blythmeister/" class="fab fa-facebook-f"></a>
        <a target="_blank" href="https://github.com/BlythMeister" class="fab fa-github"></a>
    </div>
    <div class="icons">
        <a target="_blank" href="https://www.amazon.co.uk/gp/profile/amzn1.account.AFHXXI3AAWF42IIBKLD3VYLFOT7A" class="fab fa-amazon"></a>
        <a target="_blank" href="https://www.goodreads.com/user/show/4921874-chris-blyth" class="fab fa-goodreads-g"></a>
        <a target="_blank" href="https://open.spotify.com/user/BlythMeister" class="fab fa-spotify"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UC75NXNugjDXbboQcsc7y1tg" class="fab fa-youtube"></a>
    </div>
    <div>
    	<a target="_blank" href="https://cdn.forms-content.sg-form.com/e1e9d66b-283c-11ed-82ef-eee2188e6867">Join my mailing list</a>
    </div>
</div>
<div class="bottomItem">
    <h4>Recent Posts <a href="{{ site.url }}/rss" class="fas fa-rss"></a></h4>
    {% assign publishedPosts = site.posts | where: 'show', 'true' %}
    {% for post in publishedPosts  limit:5 %}
    <div class="media {% if forloop.last == false %}media-underline{% endif %}">
        <div class="media-body">
            <a href="{{ post.url }}">
                <h5 class="media-heading">{{ post.title }}</h5>
            </a>
            <p><i class="far fa-calendar">&nbsp;</i>{{ post.date | date: "%d %B %Y" }}</p>
            {{ post.excerpt }}
        </div>
    </div>
    {% endfor %}
</div>
